<div class="container">
    <h2>Objetivo deste projeto</h2>
    <p>Desenvolver uma aplicação, ou seja, APP – abreviatura em inglês para
        Application, que permita oferecer serviços de impressão e leitura de documentos aos deficientes visuais através
        de tecnologias ubíquas e pervasivas. Para alcançar este objetivo a aplicação permite traduzir um texto hospedado
        em uma página web, ou um documento em PDF (Portable Document Format1) para o alfabeto Braille e salvar em um
        formato imagem para posterior impressão. A vantagem deste tipo de aplicação é caso o usuário não possua uma
        impressora Braille, devido ao seu alto custo, é possível utilizar a estratégia de imprimir que qualquer
        impressora e posteriormente marcar os pontos com tinta (ou cola) alto relevo ou mesmo pode fazer pequenos furos
        (do verso) e guardar o documento para posterior leitura.
        Sabe-se que existem várias tecnologias que auxiliam os cegos a ler textos na tela do computador. Leitores de
        tela são programas que, interagindo com o Sistema Operacional do computador, capturam toda e qualquer informação
        apresentada na forma de texto e a transforma em uma resposta falada através de um sintetizador de voz. O leitor
        de tela “varre” os programas em busca de informações que podem ser lidas para o usuário, possibilitando a
        navegação por menus, janelas e textos presentes em praticamente qualquer aplicativo. A navegação é feita através
        de um teclado comum, dispensando o uso do mouse na maior parte do tempo. Nenhuma adaptação especial é necessária
        para que o programa funcione. Entretanto, essas tecnologias não permitem salvar os documentos lido no alfabeto
        Braille para que possam ser armazenados tanto em formato digital como em formato em papel (BRASIL, 2022; SIMÕES;
        FRIZZERA; KOEHLER; SONDERMANN, 2019).
        O resultado da pesquisa pode ser também uma ferramenta educacional para novatos na escrita em Braile auxiliando
        na compreensão da linguagem. Outra contribuição importante é a praticidade do sistema, a ferramenta é
        desenvolvida tanto para computadores pessoais quanto para celulares, permitindo acessar em qualquer lugar a
        qualquer hora trazendo a pervasividade e ubiquidade. Busca-se assim, em última análise contribuir, pelo menos em
        parte, para uma sociedade mais inclusiva e acessível para todos, permitindo aos usuários ter acesso à novas
        informações e conhecimento.</p>
    <h2>Desenvolvedores</h2>
    <div class="developers">
        <div>
            <h3>Cassiano de Souza Santos</h3>
            <div class="social-medias">
                <a target="_blank" href="https://api.whatsapp.com/send?phone=5521973373791">
                    <img src="./assets/images/whatsapp-logo.png" alt="whatsapp link">
                </a>
                <a target="_blank" href="https://github.com/cassianodess">
                    <img src="./assets/images/github-logo.png" alt="github link">
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/cassianodess/">
                    <img src="./assets/images/linkedin-logo.png" alt="linkedin link">
                </a>
            </div>
        </div>
        <div>
            <h3>Rafael Oliveira</h3>
            <div class="social-medias">
                <a target="_blank" href="https://api.whatsapp.com/send?phone=5521973688896">
                    <img src="./assets/images/whatsapp-logo.png" alt="whatsapp link">
                </a>
                <a target="_blank" href="https://github.com/Oliveira00">
                    <img src="./assets/images/github-logo.png" alt="github link">
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/rafael-0liveira/">
                    <img src="./assets/images/linkedin-logo.png" alt="linkedin link">
                </a>
            </div>
        </div>
    </div>
</div>